button{
	border-radius: 5px;
	background-color: #122437;
	font-weight: bolder;
	margin: 5px;
	text-align: center;	
	width: 150px;
	color: #cefffc;
}

button:hover{
	background-color: #cefffc;
	color: #122437;
	transition: 0.5s;
}
body{
	background-color: #e8e8e8;
}