.block {
	border: 1px solid black;
	width: 450px;
	padding: 15px;
	margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
button{
	border-radius: 5px;
	background-color: #122437;
	font-weight: bolder;
	margin: 5px;
	text-align: center;	
	width: 150px;
	color: #cefffc;
}

button:hover{
	background-color: #cefffc;
	color: #122437;
	transition: 0.5s;
}