.nav-item{
	border-radius: 5px;
	font-weight: bolder;
	margin: 5px;
	text-align: center;	
	width: 150px;
}

.nav-link:hover{
	background-color: #cefffc;
	color: black;
	transition: 0.5s;
	box-shadow: 0 0 20px #fff,0 0 20px #fff;
}

.navbar{
	background-color: #122437;
}

.caixa{
	width: 500px;
	box-sizing: 500px;
}
